*.iml
*.pem
*.ppk
.gradle
.idea/
debug
*.pem
*.ppk
generated
app/google-services.json
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/generated
.externalNativeBuild
.cxx
gradle.properties
local.properties
